<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
     <link rel="stylesheet" type="text/css" th:href="@{/styles/admin.css}">
     <script  th:src="@{/js/admin.js}"></script>
<!--    <script src="../static/js/admin.js"></script>-->
<!--    <link href="../static/styles/admin.css" rel="stylesheet" type="text/css">-->
    
</head>
<body>
    <div class="wrapper">
        <div class="panel">
            <button class="showAddEventForm" onclick="getAddEventForm()">Добавить Event</button>
            <button class="showAllApplications" onclick="getAllApplications()">Посмотреть заявки</button>
            <button class="showAllEvents" onclick="getAllEvents()">Посмотреть все мероприятия</button>
        </div>
        <div class="addEvent-div hidden">
            <div class="close" onclick="closeEventForm()">close</div>
            <p>Название Event:</p>
            <input type="text" class="eventTitle">
            <p>Описание:</p>
            <textarea class="eventDescription"> </textarea>
            <p>Требования:</p>
            <textarea class="eventRequirement"> </textarea>

            <p>Город:</p>
            <select size="5" multiple class="citys">

            </select>
            <button onclick="AddEvent()"> Добавить </button>
            <div class="Error-event"></div>
        </div>

        <div class="allApplications hidden">

        </div>

        <div class="allEvents hidden">

        </div>

        <div class="showEvent hidden">
            <div class="left-column full-info-from-event">
                <div class="close" onclick="closeEvent()">close</div>
                <div class="title"></div>
                <div class="descriptions"></div>
                <div class="requirement"></div>
                <div class="citys"></div>
            </div>
        </div>
    </div>
    
</body>
</html>