<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/main2.css}">

    <script  th:src="@{/js/register.js}"></script>
</head>
<body>
    <div class="wrappepr">
        <div class="head">
            <div class="logo">

            </div>

            <div class="logout-button">
                <input type="button" value="Logout" onclick="sendApp()">
            </div>
        </div>

        <div class="container">
            <div class="content">
                
            </div>
        </div>

        <div class="row">
            <div class="column-event">

            </div>

            <div class="column-application">
                <p>Отправить заявку</p>
                <input type="text" placeholder="Имя">
                <input type="text" placeholder="Фамилия">
                <textarea name="description"></textarea>
                <input type="button" value=" Отправить" onclick="sendApp()">
            </div>

        </div>

    </div>
</body>
</html>