<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/main2.css}">

    <script  th:src="@{/js/main.js}"></script>
</head>
<body>

    <div class="wrapper">
        <div class="head">
            <div class="logo">

            </div>

            <div class="logout-button">
                <input type="button" value="Logout" onclick="logout()">
            </div>
        </div>
        <div class="row">
            <div class="left-column full-info-from-event hidden">

                <div class="title"></div>
                <div class="description"></div>
                <div class="requirement"></div>
                <div class="citys"></div>
                <input class="button-style" type="button" name="add-requirement" onclick="ShowRequirementForm()" value="Откликнуться">
            </div>

            <div class="right-column">
                <div class="events">

                </div>
            </div>



        </div>

        <div class="column-application hidden">
            <p>Отправить заявку</p>
            <div class="close" onclick="closeEvent()">close</div>
            <input type="text" placeholder="Имя" class="user-name">
            <input type="text" placeholder="Фамилия" class="user-lastName">
            <textarea name="description" class="user-description"></textarea>
            <input type="button" value=" Отправить" onclick="addApplication()">
            <div class="Error-Application"></div>
        </div>

    </div>
</body>
</html>