<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}">
  <script  th:src="@{/js/register.js}"></script>
  <title>Регистрация</title>
</head>
<body>
  <div class="wrapper">
    <form method="POST">
      <p>Регистрация</p>
      <input type="email" class="userName-input" placeholder="username(email)">
      <input type="password" class="passwordReg-input" placeholder="password">
      <input type="button" value="Register" onclick="register()">
    </form>
  </div>
</body>

</html>