
body{
  background-color: khaki;
}
.wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.auth{
  width: 200px;
  height: 100px;
  background-color: red;
  margin: 30px;
  line-height: 100px;
  text-align: center;
}
.auth a{
  text-decoration: none;
  color: white;
  font-size: 30px;
}
form{
  display: flex;
  flex-direction: column;
  border: 4px solid purple;
  height: 400px;
}
p{
  margin: auto;
  font-size: 50px;
  color: purple;
}
form input{
  margin: 20px;
  height: 50px;
  width: 300px;
  background-color: khaki;
  border: 4px solid purple;
}
button{
  width: 200px;
  margin: auto;
  height: 50px;
  font-size: 20px;
  background-color: purple;
  color: #fff;
  
}

